*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #f9f9f9;
    color: #333;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 40px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color: #e63946;
    display: flex;
}

.logo img{
    height: 40px;
    width: 40px;
    margin-left: 8px;
    object-fit: contain;
}

.search-bar{
    flex: 1;
    margin: 0 40px;
    display: flex;
}

.search-bar input{
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    transition: 0.3s;
}

.search-bar input:focus{
    outline: none;
    box-shadow: 0 0px 6px rgb(230, 57, 70);
    border-color: #e63946;
    font-size: 14px;
}

.search-bar button{
    background: #ff6b6b;
    color: white;
    font-weight: 500;
    border: none;
    padding: 8px 20px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.search-bar button:hover{
    background: #ff2c2c; 
    transform: scale(1.05);
}

/* .search-bar button:{
    content: "";
    background: #ff2c2c9d; 
} */

.nav-icons{
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-icons a{
    display: flex;
    align-items: center;
    margin-left: 20px;
    text-decoration: none;
    color: #222;
    font-weight: 500;
    font-weight: 500;
    font-size: 1rem;
    transition: 0.3s;
}

.nav-icons a:hover{
    color: #e63946;
    font-size: 1.1rem;
}

.nav-icons img{
    height: 22px;
    width: 22px;
    margin-left: 6px;
    object-fit: contain;
    vertical-align: middle;
}

/* Category Section  */
.category-header{
    text-align: center;
    padding: 40px 0;
    background: white;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    padding: 20px 40px;
}

.product-card{
    background: white;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.product-card:hover{
    transform: translateY(-5px);
}

.product-card img{
    max-width: 100%;
    height: 180px;
    object-fit: contain;
    margin-bottom: 10px;
}


.product-card h3{
    font-size: 18px;
    margin-bottom: 5px;
}



.product-card .description{
    color: black;
}

.product-card button{
    margin-top: 10px;
    background: #ff6b6b;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.product-card button:hover{
    background: #ff2c2c;
    font-weight: 500;
    transform: scale(1.05);
}


/* Footer  */
footer{
    background: #f0f0f0;
    padding: 40px;
    text-align: center;
    margin-top: 40px;
}

footer p{
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
}