*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #f9f9f9;
    color: #333;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 40px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color: #e63946;
    display: flex;
}

.logo img{
    height: 40px;
    width: 40px;
    margin-left: 8px;
    object-fit: contain;
}

.search-bar{
    flex: 1;
    margin: 0 40px;
    display: flex;
}

.search-bar input{
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    transition: 0.3s;
}

.search-bar input:focus{
    outline: none;
    box-shadow: 0 0px 6px rgb(230, 57, 70);
    border-color: #e63946;
    font-size: 14px;
}

.search-bar button{
    background: #ff6b6b;
    color: white;
    font-weight: 500;
    border: none;
    padding: 8px 20px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.search-bar button:hover{
    background: #ff2c2c; 
    transform: scale(1.05);
}

/* .search-bar button:{
    content: "";
    background: #ff2c2c9d; 
} */

.nav-icons{
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-icons a{
    display: flex;
    align-items: center;
    margin-left: 20px;
    text-decoration: none;
    color: #222;
    font-weight: 500;
    font-weight: 500;
    font-size: 1rem;
    transition: 0.3s;
}

.nav-icons a:hover{
    color: #e63946;
    font-size: 1.1rem;
}

.nav-icons img{
    height: 22px;
    width: 22px;
    margin-left: 6px;
    object-fit: contain;
    vertical-align: middle;
}
/* Hero */
.hero{
    /* background: linear-gradient(to right, #ff9a9e, #fad0c4); */
    background: url('../images/Banner.jpeg');
    background-size: cover;
    background-position: center;
    /* object-fit: cover; */
    height: 60vh;
    width: 100%;
    padding: 60px 40px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-color: #f8f8f8;
    position: relative;
}

.hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.05);
    z-index: 1;
}

/* .hero-text{
    
} */

.hero h1{
    font-size: 2.5rem;
    position: relative;
    z-index: 2;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.hero p{
    position: relative;
    z-index: 2;
    margin-top: 10px;
    font-size: 1.2rem;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.shop-now{
    position: relative;
    z-index: 2;
    background: white;
    color: #ff6b6b;
    border: none;
    padding: 10px 25px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.3s;
}

.shop-now:hover{
    background:  #ff2c2c;
    color: white;
    transform: scale(1.05);
}

/* Categories */
.categories{
    padding: 40px;
    text-align: center;
}

.category-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.category-grid img{
    height: 30px;
    width: 30px;
    object-fit: contain;
    vertical-align: middle;
    margin-right: 8px;
}

.category-card{
    background: white;
    border-radius: 10px;
    padding: 20px 30px;
    font-weight: 500;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}

.category-card:hover{
    background:  #ff2c2c;
    color: white;
    transform: translateY(-5px);
}

/* Featured Products */
.featured{
    background: #fff;
    padding: 40px;
    text-align: center;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    /* grid-template-columns: 1fr; single column */
    gap: 25px;
    margin-top: 20px;
}

.product-grid img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card{
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.product-card:hover{
    transform: translateY(-5px);
}

.product-card button{
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: #ff6b6b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.product-card button:hover{
    background:  #ff2c2c;
    font-weight: 500;
    transform: scale(1.05);
}

/* Footer */
.footer{
    background: #f0f0f0;
    padding: 40px;
    text-align: center;
    margin-top: 40px;
}

.footer-links img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    vertical-align: middle;
}

.footer-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 200px;
}

.footer-links div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.3s;
}

.footer-links div:hover{
    /* color: white; */
    border: none;
    outline: none;
    border-radius: 10px;
    background:   #f8f9fa;
    backdrop-filter: blur(5px);
    transform: translateY(-5px);
    padding:10px;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.footer-links h4{
    margin-bottom: 10px;
    font-weight: 600;
}

.footer-links a{
    text-decoration: none;
    color: #333;
    font-size: 0.9rem;
    transition: 0.3s;
    padding: 8px;
}

.footer-links a:hover{
    background:  #ff2c2c;
    color: white;
    border: none;
    border-radius: 10px;
    outline: 0;
}

.footer p{
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
}

